/* *** Global Styles *** */
/*  Custom Properties */
:root {
    --color-dark: #141922;
    --color-darkgrey: #282828;
    --color-light: #ffffff;
    --color-black: #000000;
    --color-lightgrey: #c1c1c1;
    --color-highlight: #9ae22d;
    --color-redcolor: #ca1717;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* Generals */
body {
    font-family: "Montserrat", sans-serif;
    background-color: #282828;
    color: var(--color-light);
}

.wrapper {
    background-color: #282828;
    height: 100vh;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-lightgrey);
}

a:hover {
    color: var(--color-light);
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

section {
    margin-top: 20px;
}

h2 {
    padding-bottom: 10px;
}

.row {
    padding-top: 10px;
}

/* Flex Utility */
.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.f-wrap {
    flex-wrap: wrap;
}

/* Page */
.upper-content {
    background-color: var(--color-dark);
    flex: 1 1 auto;
    /* width: 100%;
    height: calc(100vh - 100px); */
    overflow-y: auto;
    /* min-height: 0; */
}

/* Playbar */
footer {
    background-color: #282828;
    /* height: 100px; */
    flex: 0 0 100px;
}

/* Sidebar */
#sidebar {
    /* width: 230px; */
    flex: 0 0 230px;
    background-color: var(--color-black);
}

/* Main */
main {
    flex: 1 1 auto;
    overflow-y: auto;
    /* height: 100%; */
    padding: 100px 20px 20px;

}

.header {
    height: 70px;
    position: fixed;
    top: 0;
    left: 230px;
    width: calc(100% - 230px);
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
}

main .main-content nav a {
    text-transform: uppercase;
    padding: 6px 10px;
    display: block;
    font-weight: 600;
    font-size: 0.8em;
}

main .main-content nav a::after {
    content: '';
    display: block;
    width: 50px;
    margin: 0 auto;
    height: 3px;

}

main .main-content nav a:hover::after {
    background-color: var(--color-highlight);
}

.main-content .col {
    width: calc(100% / 6);
    padding: 5px;
}

.card {
    cursor: pointer;
}

.card-image {
    position: relative;

}

.card:hover .card-image::after {
    content: '\f144';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 4em;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.card-text {
    text-align: center;
    padding: 10px 0;
}

small {
    color: var(--color-lightgrey);
}

section>small {
    padding-bottom: 15px;
    display: block;
}

/* div.box {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */


/* } */

/*.box img {
    width: 100%;
    border-radius: 50%;


}

*/



/**** media queries ****/
@media screen and (max-width: 1200px) {
    .main-content .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 996px) {
    .main-content .col {
        width: calc(100% / 3);
    }
}

@media screen and (max-width: 768px) {
    .main-content .col {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px) {
    #sidebar {
        flex: 0 0 50px;
    }

    header {
        left: 50px;
        width: calc(100% - 50px);
    }

    .main-content .col {
        width: calc(100% / 1);
    }
}